<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Descarga de imágenes (Glide) y llamadas a la Open5e API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DndCompanion">

        <!-- LAUNCHER: Login con Firebase Auth -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal — recibe email vía extras -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- Inventario -->
        <activity
            android:name=".InventarioActivity"
            android:exported="false"/>

        <!-- Notas -->
        <activity
            android:name=".NotasActivity"
            android:exported="false"/>

        <!--
            Detalle de hechizo.
            Recibe 16 extras desde MainActivity o SpellListActivity.
            Descarga imagen con Glide si imagenUrl no es null.
        -->
        <activity
            android:name=".DetalleHechizo"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <!--
            Grimorio — lista de hechizos desde la Open5e API.
            Filtros: nombre, nivel, escuela, clase.
        -->
        <activity
            android:name=".SpellListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <!--
            Creador de personaje.
            Razas desde la Open5e API.
            Guarda en Firestore y devuelve resultado vía setResult().
        -->
        <activity
            android:name=".CrearPersonajeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>